<div class="container">
  <h3>Detalles del Estudiante</h3>
  <img *ngIf="foto" [src]="foto" alt="Foto del Estudiante" class="img-thumbnail mb-3">
  <p><strong>Nombre:</strong> {{ estudiante }}</p>
  <p><strong>Apellido:</strong> {{ apellido }}</p>
  <p><strong>Edad:</strong> {{ edad }}</p>
  <p><strong>Universidad:</strong> {{ universidad }}</p>
  <p><strong>Carrera:</strong> {{ carrera }}</p>
  <div class="row mt-5">
    <div class="col-md-12">
      <app-carrera [seleccion]="carrera"></app-carrera>
    </div>
  </div>
</div>

